.List {
    width: 100%;
    padding: 1rem;
    align-items: center;
    align-content: center;
}
.ListItem {
    justify-content: center !important;
}
.Paper {
    width: 50%;
    height: 5vh;
    padding: 0 1vh;
    text-align: center;
    align-content: center;
}